
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.directions{
  font-weight: bold;
}

body {
  font-size: 22px;
  background-color: #939584;
  color: #415d8a;
}


#guesses, #guesses_remaining {
  display: inline-block;
  font-size: 16px;
  text-transform: full-width;
}

#random_word {
  color: #dadce9;
}
